/* 1210 - > 1095px */
@media screen and (min-width: 1095px) and (max-width: 1210px) {
  body {
    background-color: red;
  }
  .main-info {
    width: 655px;
  }
  .image-container {
    width: 777px;
  }
  .image-host {
    width: 777px;
  }
}

/* 1094 - > 805px */
@media screen and (min-width: 805px) and (max-width: 1095px) {
  body {
    background-color: green;
  }
  .container {
    height: 1024px;
  }
  .logo {
    margin-left: -73px;
  }
  .main-info {
    width: 635px;
    margin-left: -80px;
  }
  input[type="submit"] {
    left: 180px;
  }
  .image-container {
    width: 491px;
  }
  .image-host {
    width: 491px;
  }
  footer {
    justify-content: left;
  }
  footer > img {
    margin-top: 85px;
    margin-left: -80px;
    z-index: 100;
  }
}

/* 768px - > 805px */

@media screen and (min-width: 768px) and (max-width: 804px) {
  .container {
    height: 1024px;
  }
  h1,
  span {
    font-size: 48px;
  }
  .logo {
    top: 52px;
    left: 115px;
    margin-left: -73px;
  }
  .main-info {
    width: 635px;
    height: 509px;
    margin-left: -130px;
  }
  input[type="submit"] {
    left: 130px;
  }
  .image-host {
    display: none;
  }
  .image-container {
    max-width: 491px;
    width: 100%;
    height: 767px;
    top: -155px;
    right: 0;
  }
  .image-host-tablet {
    display: block;
  }
  footer {
    justify-content: left;
  }
  footer > img {
    margin-top: 152px;
    margin-left: -139px;
    z-index: 100;
  }
}

/* 675px - > 768px */

@media screen and (min-width: 675px) and (max-width: 767px) {
  .container {
    height: 1024px;
  }
  h1,
  span {
    font-size: 48px;
  }
  .logo {
    top: 52px;
    left: 115px;
    margin-left: -73px;
  }
  .main-info {
    width: 635px;
    height: 509px;
    margin-left: -130px;
  }
  input[type="submit"] {
    left: 130px;
  }
  .image-host {
    display: none;
  }
  .image-container {
    max-width: 491px;
    width: 100%;
    height: 767px;
    top: -155px;
    right: 0;
  }
  .image-host-tablet {
    display: block;
  }
  footer {
    justify-content: left;
  }
  footer > img {
    margin-top: 152px;
    margin-left: -139px;
    z-index: 100;
  }
}

/* 375px to 674px */
@media screen and (min-width: 375px) and (max-width: 674px) {
  .container {
    height: 667px;
    max-width: 675px;
    background: url(assets/image-host-mobile.jpg) no-repeat center center;
    background-size: cover;
  }
  .main-info {
    max-width: 375px;
  }
  .image-container {
    display: none;
  }
  .image-host-tablet {
    display: none;
  }
  footer {
    display: none;
  }
}
