@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: Chivo;
}

body,
p,
h1,
h2,
h3,
h4,
img,
button {
  padding: 0;
  margin: 0;
}

body {
  background: #121725;
}

h1,
span {
  color: #54e6af;
  font-family: Chivo;
  font-size: 52px;
  font-style: normal;
  font-weight: 200;
  line-height: 62px;
  text-transform: uppercase;
}
span {
  color: white;
}
p {
  width: 445px;
  height: 84px;
  color: #c2cbe5;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
.container {
  width: 100%;
  max-width: 1440px;
  height: 900px;
  border: 1px solid white;
  margin: 0 auto;
  background: #121725;
  position: relative;
}
.container-wrapper {
  max-width: 1275px;
  height: 640px;
  margin-left: 165px;
  margin-top: 130px;
  /* background-color: rgb(116, 114, 114); */
  background: #121725;
}
header {
  margin-top: 158px;
}
.logo {
  position: absolute;
  top: 100px;
}
.logo-mobile {
  position: absolute;
  display: none;
}
main {
  position: relative;
  display: flex;
  flex-direction: row;
}
.main-info {
  margin-top: 101px;
  max-width: 723px;
  height: 509px;
  flex-shrink: 0;
  padding-top: 86px;
  margin-left: -5px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #121725;
  z-index: 100;
}

.image-container {
  position: absolute;
  /* top: -5%;
  left: 30%; */
  top: -30px;
  right: 5px;
  max-width: 880px;
  width: 100%;
  height: 640px;
}

.image-host {
  display: block;
  max-width: 888px;
  width: 100%;
  height: 640px;
  background: url(assets/image-host.jpg) no-repeat center center;
  background-size: cover;
}

.image-host-tablet {
  display: none;
  width: 100%;
  max-width: 491px;
  height: 767px;
  background: url(assets/image-host-tablet.jpg) no-repeat center center;
  background-size: cover;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-detail {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
form {
  display: flex;
  align-items: center;
  max-width: 427px;
  height: 56px;
}
input[type="email"] {
  position: relative;
  max-width: 427px;
  height: 56px;
  border-radius: 28px;
  background: #2c344b;
  flex-grow: 1;
  border: none;

  /* color: #fff; */
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
  padding-left: 30px;
}
input[type="submit"] {
  position: absolute;
  left: 255px;
  width: 162px;
  height: 48px;
  padding: 9px 27px;

  border-radius: 28px;
  background: #54e6af;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(84, 230, 175, 0.14);
  color: #121725;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px; /* 200% */
}
input[type="submit"]:hover {
  background-color: #b3ffe2;
  transition: 0.3s;
  cursor: pointer;
}

.social {
  display: flex;
  gap: 36px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: right;
}
footer > img {
  margin-top: -53px;
  z-index: 100;
}

.error-message,
.check-message {
  display: none;
  position: absolute;
  bottom: 1px;
  left: 25px;
  color: #fb3e3e;
  font-family: Chivo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type="email"]::-webkit-validation-bubble-message {
  display: none;
}
